@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" >
@for(int i=0;i<Model.Count;i++)
    {
        <br/>
        <div class="form-control">
            
            <input type="hidden" asp-for="@Model[i].RoleId"  />
            
            <input type="hidden" asp-for="@Model[i].Name" />
            
            <input type="checkbox" asp-for="@Model[i].Exists" class="form-check-input" />

            <label class="form-check-label" for="@Model[i].Exists" >@Model[i].Name</label>
            
        </div>
       
    }
    <br />
    <button class="btn btn-info" style="float:right">Değişiklikleri Kaydet</button>
    <a href="/Admin/AdminRole/UserRolList/" class="btn btn-primary" style="margin-right:2px ; float:right">Kullanıcı Listesine Dön</a>
</form>

